%echo Generating a basic OpenPGP key
# Use %dry-run to test your batch file
Key-Type: {{ key_type }}
Key-Length: {{ key_length }}
Expire-Date: {{ expire_date }}
Name-Real: {{ name_real }}
Name-Email: {{ name_email }}
# Do a commit here, so that we can later print "done" :-)
%commit
%echo done